// Theme

// Cores
$color-primary: #f62459;
$color-default: #999da0;
$color-disable: #cfd2d3;

// Tipografia
$base-font-size: 18px;
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: 300;
